<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>uk-line</title>
    </head>
    <body>
        <div class="uk-container uk-margin-top uk-margin-bottom" uk-height-viewport="expand: true">
            <div id="app" class="uk-height-1-1" uk-grid>
                <div class="uk-width-1-3 uk-padding-remove uk-flex uk-flex-column">
                    <form class="uk-form-stacked">
                        <div class="uk-margin">
                            <label class="uk-form-label" for="stroke-width">Stroke Width</label>
                            <div class="uk-form-controls">
                                <select id="stroke-width" class="uk-select" v-model="selectedWidth">
                                    <option v-for="option of options" :value="option.value">
                                        {{ option.text }}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="uk-margin">
                            <label class="uk-form-label">Stroke Color</label>
                            <div class="uk-form-controls">
                                <label>
                                    <input class="uk-radio" type="radio" name="rado1" value="default" v-model="selectedColor">
                                    default
                                </label>
                                <label class="uk-margin-small-left">
                                    <input class="uk-radio" type="radio" name="rado1" value="success" v-model="selectedColor">
                                    success
                                </label>
                                <label class="uk-margin-small-left">
                                    <input class="uk-radio" type="radio" name="rado1" value="warning" v-model="selectedColor">
                                    warning
                                </label>
                                <label class="uk-margin-small-left">
                                    <input class="uk-radio" type="radio" name="rado1" value="danger" v-model="selectedColor">
                                    danger
                                </label>
                                <br>
                                <input class="uk-input uk-margin-small-top" type="text" v-model.lazy="selectedColor">
                            </div>
                        </div>
                        <div class="uk-margin">
                            <label class="uk-form-label">Stroke Dashed</label>
                            <div class="uk-form-controls">
                                <label>
                                    <input class="uk-radio" type="radio" name="rado2" value="true" v-model="selectedDashed">
                                    true
                                </label>
                                <label class="uk-margin-small-left">
                                    <input class="uk-radio" type="radio" name="rado2" value="false" v-model="selectedDashed">
                                    false
                                </label>
                            </div>
                        </div>
                    </form>
                    <div class="uk-position-relative uk-flex-1">
                        <uk-line v-for="(endPoint, index) of endPoints"
                                x1="190" y1="140" :x2.sync="endPoint.x" :y2.sync="endPoint.y"
                                :key="index"
                                :stroke-width="selectedWidth"
                                :stroke-color="selectedColor"
                                :stroke-dashed="selectedDashed">
                        </uk-line>
                    </div>
                </div>
                <div class="uk-width-2-3">
                    <div class="uk-tile uk-tile-muted uk-padding-remove uk-height-1-1"
                        @mousedown="dragstart" @mousemove="drag" @mouseup="dragend"
                        @keyup.delete="destroy" tabindex="0">
                    </div>
                </div>
            </div>
        </div>
        <script src="/bundle.js"></script>
    </body>
</html>
